<div class="container">
  <div class="panel panel-default hed">
    <div class="panel-heading bg-primary text-light">
      <span class="conhead">Cards</span>
      <button class="btn btn-light text-primary back" (click)="back()">
        Back
      </button>
    </div>
    <div class="panel-body padding">
      <table class="tabel tabel-bordered tabel-hover w">
        <thead class="text-bold align">
          <tr class="align">
            <th>Credit Card Number</th>
            <th>Card Holder</th>
            <th>Expiration Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align">
            <td>{{ temp.CreditCardNumber }}</td>
            <td>{{ temp.CardHolder }}</td>
            <td>{{ temp.ExpirationDate }}</td>
            <td>{{ temp.Amount }}</td>
          </tr>
        </tbody>
      </table>
      <!-- 
      <div class="placebtn">
        <button class="btn btn-primary text-light size">Book!</button>
      </div> -->
    </div>
  </div>
</div>
